In [ ]:
'''1. Write a python program to implement List-to-Series Conversion.'''
import pandas as pd
l = ['Najiya', 'Mubeena', 'Parvathy']
print("List: ",l)
print("List to series: \n", pd.Series(l))

List:  ['Najiya', 'Mubeena', 'Parvathy']
List to series:
 0      Najiya
1     Mubeena
2    Parvathy
dtype: object

In [ ]:
'''2.Write  a  python  program  to Generate  the  series  of  dates  from  1st  May,  2021  to  12th May, 
2021 (both inclusive).'''
dates = pd.date_range(start='05-01-2021', end='05-12-2021')
print("Dates from 1st May 2021 to 12th May 2021")
for i in dates:
    print(i)

Dates from 1st May 2021 to 12th May 2021
2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00

In [ ]:
'''3.Given a dictionary, convert it into corresponding dataframe and display it.'''
d = {'Name':['Anu','Akhil','Anandhu'], 'Marks':[45,46,49]}
print(pd.DataFrame.from_dict(d))

      Name  Marks
0      Anu     45
1    Akhil     46
2  Anandhu     49

In [ ]:
'''4.Given a 2D List, convert it into corresponding dataframe and display it.'''
import numpy as np
a = [[1,2],[1,3],[2,3]]
b=pd.DataFrame(a, columns=["C1","C2"], index=['R1','R2','R3'])
print(b)

    C1  C2
R1   1   2
R2   1   3
R3   2   3

In [ ]:
'''5.Given a CSV file, read it into a dataframe and display it.'''
import csv
f=pd.read_csv('data.csv')
print(pd.DataFrame(f))

   Frequency  Height
0          2       3
1          4       5
2          5       6
3          7       8

In [ ]:
'''6.Given a dataframe, sort it by multiple columns.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak'],
                   'Age': [20, 22, 22, 19],
                   'Rank': [1, 11, 8, 9]})
print("DataFrame\n",df)
print("\nSorted DataFrame\n",df.sort_values(by=['Rank','Age'],ascending=[True,True]))

DataFrame
     Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11
2  Sonum   22     8
3  Tilak   19     9

Sorted DataFrame
     Name  Age  Rank
0    Raj   20     1
2  Sonum   22     8
3  Tilak   19     9
1  Akhil   22    11

In [ ]:
'''7.Given  a dataframe  with  custom  indexing,  convert  and  it  to  default  indexing  and display it.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak'],
                   'Age': [20, 22, 22, 19],
                   'Rank': [1, 11, 8, 9]}, index={10,11,12,13})
print("Dataframe with custom indexing\n", df)
df.reset_index(inplace=True, drop=True)
print("\nDataFrame with default indexing\n",df)

Dataframe with custom indexing
      Name  Age  Rank
10    Raj   20     1
11  Akhil   22    11
12  Sonum   22     8
13  Tilak   19     9

DataFrame with default indexing
     Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11
2  Sonum   22     8
3  Tilak   19     9

In [ ]:
'''8.Given a dataframe, select first 2 rows and output them.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak'],
                   'Age': [20, 22, 22, 19],
                   'Rank': [1, 11, 8, 9]})
print(df.iloc[0:2])

    Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11

In [ ]:
'''9.Given  is  a  dataframe  showing  name,  occupation, salary  of  people.  Find  the  average salary per
occupation.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya'],
                   'Occupation': ['Manager','Clerk','Clerk','Clerk','Manager'],
                   'Salary': [100000, 25000, 80000, 45000, 150000]})
print(df.groupby('Occupation')['Salary'].mean())

#print(employee.groupby('Occupation').Salary.mean())
# dept_agg = employee.groupby('Occupation').Salary.agg(['count','mean']).reset_index()
# print(dept_agg.rename(columns={'count':'Count','mean':'Avg_Salary'}))

Occupation
Clerk       50000.0
Manager    125000.0
Name: Salary, dtype: float64

In [ ]:
'''10.Given a dataframe with NaN Values, fill the NaN values with 0.'''
import numpy as np
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya'],
                   'Occupation': ['Manager','Clerk','Clerk','Clerk','Manager'],
                   'Salary': [100000, np.nan, 80000, 45000, np.nan]})
print(df.fillna(0))

    Name Occupation    Salary
0    Raj    Manager  100000.0
1  Akhil      Clerk       0.0
2  Sonum      Clerk   80000.0
3  Tilak      Clerk   45000.0
4  Divya    Manager       0.0

In [ ]:
'''11.Given  is  a  dataframe  showing  Company  Names  (cname)  and  corresponding  Profits (profit). Convert the
values  of  Profit  column  such that  values  in  it  greater than  0  are set to True and the rest
are set to False.'''
df = pd.DataFrame({'Cname':['GC', 'Zook', 'Vivo', 'Samsung', 'OnePlus'], 'Profit': [10000, 60000, -14000, 3000, -5000]})
print(df)

df['Profit'] = df['Profit'].apply(lambda x:x>0)

print(df)

     Cname  Profit
0       GC   10000
1     Zook   60000
2     Vivo  -14000
3  Samsung    3000
4  OnePlus   -5000
     Cname  Profit
0       GC    True
1     Zook    True
2     Vivo   False
3  Samsung    True
4  OnePlus   False

In [ ]:
'''12.Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee Name (ename) and 
Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee 
(designation). Output the Dataframe containing Employee   ID   (eid),   Employee   Name   (ename),   
Stipend   (stipend)   and   Position (position).'''

df1 = pd.DataFrame({'EID':[1,2,3,4,5],
                   'Ename': ['Anu', 'Megha', 'Minu', 'Jeena', 'Raghu'],
                   'Stipend': [10000, 20000,10000, 5000, 15000]})
df2 = pd.DataFrame({'EID':[1,2,3,4,5],
                    'Designation': ['Clerk', 'Manager', 'Associate', 'Manager', 'Clerk']})
print(pd.merge(df1, df2, how='inner', on='EID'))

   EID  Ename  Stipend Designation
0    1    Anu    10000       Clerk
1    2  Megha    20000     Manager
2    3   Minu    10000   Associate
3    4  Jeena     5000     Manager
4    5  Raghu    15000       Clerk