In [19]:
'''1. Write a python program to implement List-to-Series Conversion.'''
import pandas as pd
l = ['Najiya', 'Mubeena', 'Parvathy']
print(pd.Series(l))

0      Najiya
1     Mubeena
2    Parvathy
dtype: object

In [27]:
'''2.Write  a  python  program  to Generate  the  series  of  dates  from  1st  May,  2021  to  12th May, 
2021 (both inclusive).'''
dates = pd.date_range(start='05-01-2021', end='05-12-2021')
for i in dates:
    print(i)

2021-05-01 00:00:00
2021-05-02 00:00:00
2021-05-03 00:00:00
2021-05-04 00:00:00
2021-05-05 00:00:00
2021-05-06 00:00:00
2021-05-07 00:00:00
2021-05-08 00:00:00
2021-05-09 00:00:00
2021-05-10 00:00:00
2021-05-11 00:00:00
2021-05-12 00:00:00

In [35]:
'''3.Given a dictionary, convert it into corresponding dataframe and display it.'''
d = {'set1':['a','b','c'], 'set2':['c','d','e']}
print(pd.DataFrame.from_dict(d))

  set1 set2
0    a    c
1    b    d
2    c    e

In [52]:
'''4.Given a 2D List, convert it into corresponding dataframe and display it.'''
import numpy as np
a = [[1,2],[1,3],[2,3]]
b=pd.DataFrame(a, columns=["C1","C2"], index=['R1','R2','R3'])
print(b)

    C1  C2
R1   1   2
R2   1   3
R3   2   3

In [44]:
'''5.Given a CSV file, read it into a dataframe and display it.'''
import csv
f=pd.read_csv('data.csv')
print(pd.DataFrame(f))

   Frequency  Height
0          2       3
1          4       5
2          5       6
3          7       8

In [84]:
'''6.Given a dataframe, sort it by multiple columns.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],
                   'Age': [20, 22, 22, 19, 17, 23],
                   'Rank': [1, 11, 8, 9, 1, 18]})
print("DataFrame\n",df)
print("\nSorted DataFrame\n",df.sort_values(by=['Rank','Age'],ascending=[True,True]))

DataFrame
     Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11
2  Sonum   22     8
3  Tilak   19     9
4  Divya   17     1
5  Megha   23    18

Sorted DataFrame
     Name  Age  Rank
4  Divya   17     1
0    Raj   20     1
2  Sonum   22     8
3  Tilak   19     9
1  Akhil   22    11
5  Megha   23    18

In [104]:
'''7.Given  a dataframe  with  custom  indexing,  convert  and  it  to  default  indexing  and display it.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],
                   'Age': [20, 22, 22, 19, 17, 23],
                   'Rank': [1, 11, 8, 9, 1, 18]}, index={'a','b','c','d','e','f'})
print(df)
df.reset_index(inplace=True, drop=True)
print(df)

    Name  Age  Rank
e    Raj   20     1
d  Akhil   22    11
f  Sonum   22     8
a  Tilak   19     9
b  Divya   17     1
c  Megha   23    18
    Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11
2  Sonum   22     8
3  Tilak   19     9
4  Divya   17     1
5  Megha   23    18

In [111]:
'''8.Given a dataframe, select first 2 rows and output them.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],
                   'Age': [20, 22, 22, 19, 17, 23],
                   'Rank': [1, 11, 8, 9, 1, 18]})
print(df.iloc[0:2])

    Name  Age  Rank
0    Raj   20     1
1  Akhil   22    11

In [115]:
'''9.Given  is  a  dataframe  showing  name,  occupation, salary  of  people.  Find  the  average salary per
occupation.'''
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya'],
                   'Occupation': ['Manager','Assistant','Professor','Clerk','Manager'],
                   'Salary': [100000, 25000, 80000, 45000, 150000]})
for i in df:
    print(i[0])

N
O
S

In [ ]:
'''10.Given a dataframe with NaN Values, fill the NaN values with 0.'''

In [ ]:
'''11.Given  is  a  dataframe  showing  Company  Names  (cname)  and  corresponding  Profits (profit). Convert the
values  of  Profit  column  such that  values  in  it  greater than  0  are set to True and the rest
are set to False.'''

In [ ]:
'''12.Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee Name (ename) and 
Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee 
(designation). Output the Dataframe containing Employee   ID   (eid),   Employee   Name   (ename),   
Stipend   (stipend)   and   Position (position).'''